@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
html {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

body {
  max-width: 1350px;
  margin: auto;
}

.header {
  text-align: center;
  margin-top: 40px;
  font-family: "DM sans";
}
.header .header-title {
  color: #d04f4f;
  margin-top: 0;
}

.search {
  margin: auto;
}
.search .search-bar {
  position: relative;
  background-color: #e7e7e7;
  height: 69px;
  width: 95%;
  border-radius: 5px;
  margin: auto;
}
.search .search-bar i {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 32px;
}
.search-input {
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  background-color: inherit;
  width: 90%;
  border: none;
  height: 100%;
  font-size: 18px;
}

.search-error {
  font-size: 1.1rem;
  color: red;
  margin: 20px auto;
  width: 95%;
}

.dropdown {
  display: flex;
  margin: auto;
  width: 95%;
  margin-top: 20px;
}
@media screen and (max-width: 550px) {
  .dropdown {
    display: flex;
    flex-direction: column;
  }
}

.ingredients, .appliances, .ustensils {
  margin-right: 10px;
}
@media screen and (max-width: 550px) {
  .ingredients, .appliances, .ustensils {
    margin-top: 10px;
  }
}
.ingredients-container, .appliances-container, .ustensils-container {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  font-size: 18px;
  min-height: 69px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #3282f7;
}
.ingredients-container input, .appliances-container input, .ustensils-container input {
  width: 90%;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: none;
}
.ingredients-container input:focus, .appliances-container input:focus, .ustensils-container input:focus {
  outline: none;
}
.ingredients-container input::-moz-placeholder, .appliances-container input::-moz-placeholder, .ustensils-container input::-moz-placeholder {
  color: white;
}
.ingredients-container input:-ms-input-placeholder, .appliances-container input:-ms-input-placeholder, .ustensils-container input:-ms-input-placeholder {
  color: white;
}
.ingredients-container input::placeholder, .appliances-container input::placeholder, .ustensils-container input::placeholder {
  color: white;
}
.ingredients-container i, .appliances-container i, .ustensils-container i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.red {
  background-color: #ED6454;
}

.green {
  background-color: #68D9A4;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  width: 95%;
  margin: 30px auto;
}
@media screen and (max-width: 1225px) {
  .recipes {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
@media screen and (max-width: 840px) {
  .recipes {
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
  }
}

.cards {
  width: 380px;
  height: 364px;
  margin-bottom: 60px;
}
@media screen and (max-width: 410px) {
  .cards {
    width: 345px;
  }
}
.cards-bg {
  background-color: #c7bebe;
  height: 178px;
  border-radius: 5px 5px 0 0;
}
.cards-container {
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  padding: 18px;
  height: 180px;
}
.cards-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-dishes {
  margin: 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  max-width: 245px;
}
.cards-duration {
  display: flex;
  align-items: center;
}
.cards-time {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  margin-left: 8px;
}
.cards-description {
  display: flex;
  font-size: 12px;
  padding: 20px 0;
}
.cards-list {
  width: 171px;
  font-family: "Lato";
}
.cards-details {
  display: -webkit-box;
  max-height: 100px;
  width: 171px;
  font-family: "Roboto";
  font-weight: 400;
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.list-span {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */