.dropdown {
    display: flex;
    margin: auto;
    width: 95%;
    margin-top: 20px;
    @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
    }
}

.ingredients, .appliances, .ustensils {
    margin-right: 10px;

    @media screen and (max-width:550px) {
        margin-top: 10px;
    }

    &-tags {
        display: none;
        background-color: #3282f7;
        cursor: pointer;
        color: white;
        display: none;
        margin-top: -5px;
        padding-top: 10px;
        border-radius: 0 0 5px 5px;
    }

    &-container {
        display: flex;
        align-items: center;
        padding: 0px 15px 0px 15px;
        font-size: 18px;
        min-height: 69px;
        height: fit-content;
        border-radius: 5px;
        border: none;
        color: white;
        background-color: #3282f7;
        & input {
            width: 90%;
            font-weight: bold;
            font-size: 18px;
            background-color: transparent;
            color: white;
            border: none;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: white;
            }

        }

        i {
            height: fit-content;
        }
    }

    &-li {
        margin-top: 10px;
    }

}

#ingredients-list, #appliances-list, #ustensils-list {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    max-height: 500px;
    padding: 10px;
    overflow: auto;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.red {
    background-color: #ED6454;
}

.green {
    background-color: #68D9A4;
}

.red-tag {
    background-color: #ED6454;
}

.green-tag {
    background-color: #68D9A4;
}

.arrow-rotation {
    transform: rotate(180deg)
}